     

{{#each this}}

        <img src="{{flags.svg}}" alt="" width="180">
        <h2>{{name.official}}</h2>
        <p><span>Capital:</span> {{capital}}</p>
                <p><span>Population:</span> {{population}}</p>
       <p><span>Languages:</span> {{ languages }}</p>  

 
{{/each}}